<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">简单介绍</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目介绍</h3>
        <ul>
            <li>一切权力归洛阳市老城区婵妍美容养生馆所有</li>
            <li>后台商品管理</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;联系方式</h3>
        <ul>
            <li>联系电话：15838820503</li>
            <li>座机电话：0379-60229825</li>
            <li>联系地址：洛阳市老城区中电阳光丽水湾5-1-102</li>
        </ul>

        <h3>&nbsp;&nbsp;&nbsp;技术支持</h3>
        <ul>
            <li>常用手机号：18612372257</li>
            <li>备用手机号：18611509820</li>
        </ul>
    </div>
</div>
</body>
</html>